.category {
    display: flex;

    &--height {
        width: 451px;
    }

    &--filter {
        position: relative;
        border-right: none !important;
        padding-top: 0;

        & span {

            margin: 0 5px;
            font-weight: 700;
        }

        &--clear-all-button {

            position: absolute;
            top: 2px;
            right: 10px;
            font-weight: 700;
            color: #ff3f6c;
            font-size: 13px;
            cursor: pointer;

        }
    }

    &--checkbox input {
        accent-color: #ff3f6c;
    }

    &--heading {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 25px;
        border-bottom: 1px solid #e9e9ed;
        position: relative;
        border-right: 1px solid #edebef;

        & input {
            font-size: 14px;
    margin-bottom: 7px;
        }
    }
}